{% comment %}


<div class="offcanvas-overlay"></div>
            <div class="offcanvas-menu visible-sm visible-xs">
                <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
                <div class="offcanvas-inner">

                    <ul>
                        <li>
                            <a id="lnkmoblang" class="glyphicon glyphicon-globe"
                                href="javascript:__doPostBack(&#39;ctl00$lnkmoblang&#39;,&#39;&#39;)">हिन्दी</a>
                        </li>
                        <li>
                            <a><span id="spMob_AboutUs">About Us</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-01" aria-expanded="false"
                                aria-controls="collapse-menu-01"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-01" aria-expanded="false">
                                <li><a
                                        href="/site/formTemplete/frmtempsimple.aspx?MnId=L6Y8gW9Cx+8+vuYiqorqfA==&ParentID=RuQ+vVM57FirJYXrHRLBHA=="><span
                                            id="spMob_Org">Organisation of Ministry of Defence</span></a></li>
                                <li><a
                                        href="/site/formTemplete/frmtempsimple.aspx?MnId=TqWSDHmc2ua6KzgEgvgO7w==&ParentID=RuQ+vVM57FirJYXrHRLBHA=="><span
                                            id="spMob_Str">Structure of Indian Army</span></a></li>
                                <li><a
                                        href="/site/formTemplete/frmtempsimple.aspx?MnId=Vejx3Dkml+ud3YmcKc6B/A==&ParentID=RuQ+vVM57FirJYXrHRLBHA=="><span
                                            id="spMob_IdeasEthos">Ideas and Ethos</span></a></li>
                                <li><a
                                        href="/site/formTemplete/frmTempSimple.aspx?MnId=5Z6hvtAgyUS0bSLFpLG8nxL9VENZtkMR1GveF5cDLtc=&ParentID=RuQ+vVM57FirJYXrHRLBHA==&flag=8CKP966uzg96kLov0aWdfQ=="><span
                                            id="spMob_ThemeoftheYear">Theme of the Year</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a><span id="spMob_Leaders">Leaders</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-02" aria-expanded="false"
                                aria-controls="collapse-menu-01"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-02" aria-expanded="false">
                                <li><a
                                        href="/site/FormTemplete/chief_of_the_army_staff.aspx?MnId=ctW8an52b7b6JoiDdGlB35RsyES/Hvwy4ZPL03vLfZg=&ParentID=yvbuQYEYKz6QaAvEUdSXlg==&flag=8CKP966uzg96kLov0aWdfQ=="><span
                                            id="spMob_ChiefoftheArmyStaff">Chief of the Army Staff</span></a></li>

                                <li><a
                                        href="/site/FormTemplete/frmVCOAS.aspx?MnId=lTEly7nKyz/S5SVyoTp0uA==&ParentID=Fga5DFnVRypDYC9ulaMZ4VAbuelF/ENe289SlcpOVQw="><span
                                            id="spMob_ViceChiefoftheArmyStaff">Vice Chief of the Army Staff</span></a>
                                </li>

                                <li><a
                                        href="/site/FormTemplete/frmCommander.aspx?MnId=CDDEor3rQDkogS3W+QHIygVqBrKaghe2tlb13nUte94=&ParentID=Afy8OVjKbZUUgVONe7V2juqZuxqdeVqSi1KmNA+iDZ4="><span
                                            id="spMob_ArmyCommanders">Army Commanders</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a><span id="spMob_Explore">Explore Army</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-03" aria-expanded="false"
                                aria-controls="collapse-menu-01"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-03" aria-expanded="false">
                                <li><a
                                        href="/Site/FormTemplete/frmTempMainPage.aspx?MnId=cOsjsWUsf6C9T95t2S/qKA==&ParentID=5kL7GnlJkeV3VZwwtubWUg==&flag=vjsUXpvyf/tVZTPwHzXrQA=="><span
                                            id="spMob_TrainingEstalishments">Training Establishments</span></a></li>

                                <li><a
                                        href="/Site/FormTemplete/frmTempMainPage.aspx?MnId=&ParentID=&flag=vjsUXpvyf/tVZTPwHzXrQA=="><span
                                            id="spMob_SportsAchievements">Sports &amp; Achievements</span></a></li>
                                <li><a
                                        href="/Site/FormTemplete/frmTempSimple.aspx?MnId=7en0OByzjrL6rYV8qxDLjg==&ParentID=7xkqrABP74bMTEHMV2z3WA==&flag=6RqdU/7tVnzD7NSgeuA30A=="><span
                                            id="spMob_Adventure">Adventure Activities</span></a></li>
                                <li><a href="/explore-army/war-memorial"><span id="spMob_WarMemorial">War
                                            Memorial</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a><span id="spMob_Publications">Publications</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-04" aria-expanded="false"
                                aria-controls="collapse-menu-01"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-04" aria-expanded="false">
                                <li><a href="/publications/baatcheet"><span id="spMob_BaatCheet">Baat Cheet</span></a>
                                </li>
                                <li><a
                                        href="/Site/FormTemplete/frmTempSimple.aspx?MnId=LERR2Y5x6w/du8QQG8HoSg==&ParentID=dSiezeMAwp5hOouLHbdcHA==&flag=HCbsTma8kXfFvOo6xa2FXA=="><span
                                            id="spMob_KnowledgeOnline">Knowledge Online</span></a></li>

                                <li><a
                                        href="/Site/FormTemplete/frmNewSimple.aspx?MnId=La1+zgMcC9yRq3bIfPcMUQniXy7Rea/YdL3+i2il7rQ=&ParentID=jrrQ1TK3utg9p4F8F6cgAaCyW+epI8UAbHwFh80Aqh8=&flag=60066sAXjQeEtkTAltf8Vg=="><span
                                            id="spMob_FriendforLife">Friend for Life</span></a></li>
                                <li><a
                                        href="/Site/FormTemplete/frmTempSimple.aspx?MnId=Wmkyan2zrMrUw5DPGvRKIkBkzzcLP/Gx6pNXe9lasG0=&ParentID=RpwDSO1JbG+Jwf82KOBdISLplkmZ3x0bzRZ5ktZiQy4="><span
                                            id="spMob_Claws">Publications from Claws</span></a></li>
                                <li><a
                                        href="/Site/FormTemplete/frmTempSimple.aspx?MnId=SRfQpeSk3lNWyAd3wDt2QqArOTqfNI8d3UaVg+dZagA=&ParentID=SQRNv69OiHnv6xPzZG4isw=="><span
                                            id="spMob_Pinnacle">ARTRAC Pinnacle Journal</span></a></li>
                                <li><a
                                        href="https://indianarmy.nic.in/Site/FormTemplete/frmTempSimple.aspx?MnId=65A0qEy/O8BXUJVsuhlmHn6HZ8lN9SoGjf4AdvykVrc=&ParentID=mwNvDOGrhApnx/8mNqkYuQ=="><span
                                            id="spMob_UNJournal">UN Journal</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a><span id="spMob_Media">Media</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-05" aria-expanded="false"
                                aria-controls="collapse-menu-02"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-05" aria-expanded="false">
                                <li><a
                                        href="/Site/PressRelease/PressRelease.aspx?MnId=1m+lDMVZCMB6cuMii2cJug==&ParentID=1m+lDMVZCMB6cuMii2cJug==&flag=vPDIKmdwA/IgGr7JGm2nlw=="><span
                                            id="spMob_MediaReleases">Media Releases</span></a></li>
                                <li><a
                                        href="/Site/FormTemplete/frmPhotoGalleryWithoutText.aspx?MnId=fH34aeagHfjmqHbvfQGBcA==&ParentID=w5Z+JaTxVT2Pn2VnhChP4Q==&flag=+7JbAl6o41p6SBvaiRMFJA=="><span
                                            id="spMob_PhotoGallery">Photo Gallery</span></a></li>
                                <li><a
                                        href="/frmVideo.aspx?MnId=M44yD0vsOXIGYfYwzdd8tw==&ParentID=wzP0j4UE9N1Efbf9+A7QAw==&flag=vPDIKmdwA/IgGr7JGm2nlw=="><span
                                            id="spMob_Videos">Videos</span></a></li>
                            </ul>
                        </li>
                        <li><a
                                href="https://indianarmy.nic.in/Site/FormTemplete/frmTempSimple.aspx?MnId=yPGIMWNa+NDbL9Nv42ITbA==&ParentID=CE04kKrcy4kefI5vBDDL2A==&flag=8CKP966uzg96kLov0aWdfQ=="><span
                                    id="spMob_MakeinIndia">Army Design Bureau</span></a></li>
                        <li>
                            <a><span id="spMob_TenderRFI">Tenders / RFI</span></a>
                            <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse"
                                data-target="#collapse-menu-06" aria-expanded="false"
                                aria-controls="collapse-menu-06"><i class="fa fa-plus"></i><i
                                    class="fa fa-minus"></i></span>
                            <ul class="collapse" id="collapse-menu-06" aria-expanded="false">
                                <li><a
                                        href="/site/formTemplete/frmTendor.aspx?MnId=/dslWs+YRV+Izr4tSXPdNA==&ParentID=FSqNZ7Ylkkh985w/0I2Csw=="><span
                                            id="spMob_Tenders">Tenders</span></a></li>
                                <li><a
                                        href="/site/formTemplete/frmRFI.aspx?MnId=wqx9KmmIKaji4i6OjzEpwg==&ParentID=FiD76EPb4h/yWBAbrv9hFQ=="><span
                                            id="spMob_RFIs">RFIs</span></a></li>
                                <li><a
                                        href="/site/FormTemplete/frmArchive.aspx?MnId=2smZhFHhwFo4itX70hViLA==&ParentID=553N0eLrW1hrcGBRb67aDQ=="><span
                                            id="spMob_Archives">Archives</span></a></li>
                            </ul>
                        </li>
                        <li><a
                                href="/Site/FormTemplete/frmTempSimple.aspx?MnId=p96z6MtYAC9Y9UEqtVaKIQ==&ParentID=tVaYf6bCikYzpvESxwdUeA==&flag=q4/f6NHSk5to+tZnpeq4tw=="><span
                                    id="spMob_Contact">Contact Us</span></a></li>
                    </ul>
                </div>
            </div>



            {% endcomment %}