<div class="col-sm-3">

    <div class="popular-news">
        <div class="section-title">
            <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
                <span id="ContentPlaceHolder1_verticalmenu_Label1">Explore Army</span>
            </h3>
        </div>
        <!-- //section-title -->
        <div style="overflow-x:hidden; overflow-y:scroll;">
            <ul class="popular-news-list">

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_0"
                        href="{% url 'index' %}">Home</a>
                </li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_1"
                        href="{% url 'Commandant' %}">Commandant</a>
                </li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_2"
                        href="{% url 'Previous_Commandants' %}">Previous
                        Commandants</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_3"
                        href="{% url 'Insignia_and_Moto' %}">Insignia
                        and Moto</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_4"
                        href="{% url 'The_Infantry_SchoolRole_and_Tasks' %}">Role
                        and Tasks</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_5"
                        href="{% url 'Raising_School' %}">Raising
                        School</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_6"
                        href="{% url 'Army_Rifle_Association' %}">Army
                        Rifle Association</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_7"
                        href="{% url 'Infantry_Journal' %}">Infantry
                        Journal</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_8"
                        href="{% url 'About_Mhow' %}">About
                        Mhow</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_9"
                        href="{% url 'History_of_Mhow' %}">History
                        of Mhow</a></li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_10"
                        href="{% url 'Geography' %}">Geography</a>
                </li>

                <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_11"
                        href="{% url 'Directions_and_Maps' %}">Directions
                        and Maps</a></li>

            </ul>
        </div>
    </div>
    <!-- //popular-news -->

</div>