<div class="col-sm-3">
                  
    <div class="popular-news">
    <div class="section-title">
        <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
            <span id="ContentPlaceHolder1_verticalmenu_Label1">Explore Army</span></h3>
    </div>
    <!-- //section-title -->
    <div style="overflow-x:hidden; overflow-y:scroll;">
    <ul class="popular-news-list">
        
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_0" href="#!">Training Establishments</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_1" href="#!">IMA</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_2" href="#!">OTA Chennai</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_3" href="#!">OTA Gaya</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_4" href="#!">AC Centre and School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_5" href="#!">The Army war College</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_6" href="#!">Army AD College</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_7" href="#!">ASC Centre  College</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_8" href="#!">CIJW School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_9" href="#!">CMP Centre  School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_10" href="#!">CMM</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_11" href="#!">CME</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_12" href="#!">EME School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_13" href="#!">MCEME</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_14" href="#!">AEC College  and Centre</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_15" href="#!">High Altitude Warfare School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_16" href="#!">Institute of  Military Law</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_17" href="#!">The Infantry School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_18" href="#!">AIPT</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_19" href="#!">MITS</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_20" href="#!">INI</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_21" href="#!">JLA</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_22" href="#!">AMC Centre and College</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_23" href="#!">RVC Centre and College</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_24" href="#!">Simulator Devp Division</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_25" href="#!">School of  Artillery</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_26" href="#!">SF Training  School</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_27" href="#!">MCTE</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_28" href="#!">Combat Army Aviation Training School</a></li>
            
    </ul>
    </div>
    </div>
    <!-- //popular-news -->
    
                    </div> <!-- //col-sm-3 -->