<section id="page-title">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-wrapper page-title-wrapper2">
                <div class="container">
                    <h5 class="pull-left title"><span class="cat-icon"><i class="fa fa-newspaper-o"></i></span>Chief of the Army Staff</h5><ol class="breadcrumb pull-right"><li><a href="#!"><span>Home</span></a></li><li class="active"><a href="#!">{{ title }}</a></li><li class="active"><a href="#!">Chief of the Army Staff</a></li><li class="active"><a href="#!">{{ last }}</a></li></ol>

                </div>
                <!-- //container -->
            </div>
            <!-- //page-title-wrapper -->
        </div>
    </div>
    <!-- //row -->
</section>