
<div class="col-sm-3">
    <div class="popular-news">
        <div class="section-title">
            <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
                <span id="ContentPlaceHolder1_UserMenuChief_Label1">Former COAS</span></h3>
        </div>
        <!-- //section-title -->
        <div style="overflow-x:hidden; overflow-y:scroll; height: 180px;">
            <ul class="popular-news-list">
                
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_0" href="{% url 'General_Sir_Mcgregor_Macdonald_Lockhart' %}">General Sir Mcgregor Macdonald  Lockhart <br><font face="Arial" size="1">(15 Aug 1947 to 31 Dec 1947)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_1" href="{% url 'General_Sir_Francis_Robert_Roy_Bucher' %}">General Sir Francis Robert Roy Bucher <br><font face="Arial" size="1">(01 Jan 1948 to 15 Jan 1949)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_2" href="{% url 'Field_Marshal_Kodandera_Madappa_Cariappa' %}">Field Marshal KM Cariappa <br><font face="Arial" size="1">(16 Jan 1949 to 14 Jan 1953)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_3" href="{% url 'General_Maharaj_Shri_Rajendra_Sinhji' %}">General KS Rajendra Sinhji <br><font face="Arial" size="1">(15 Jan 1953 to 14 May 1955)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_4" href="{% url 'General_Satyawant_Mallana_Srinagesh' %}">General SM Shrinagesh <br><font face="Arial" size="1">(15 May 1955 to 07 May 1957)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_5" href="{% url 'General_Kodandera_Subayya_Thimayya' %}">General KS Thimayya <br><font face="Arial" size="1">(08 May 1957 to 07 May 1961)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_6" href="{% url 'General_Pran_Nath_Thapar' %}">General PN Thapar <br><font face="Arial" size="1">(08 May 1961 to 19 Nov 1962)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_7" href="{% url 'General_Jayanto_Nath_Chaudhuri' %}">General JN Chaudhuri <br><font face="Arial" size="1">(20 Nov 1962 to 07 Jun 1966)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_8" href="{% url 'General_Paramasiva_Prabhakar_Kumramangalam' %}">General PP Kumaramangalam <br><font face="Arial" size="1">(08 Jun 1966 to 07 Jun 1969)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_9" href="{% url 'Field_Marshal_Sam_Hormusji_Framji_Jamshedji_Manekshaw' %}">Field Marshal SHFJ Manekshaw<br><font face="Arial" size="1">(08 Jun 1969 to 15 Jan 1973)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_10" href="{% url 'General_Gopal_Gurnath_Bewoor' %}">General GG Bewoor <br><font face="Arial" size="1">(16 Jan 1973 to 31 May 1975)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_11" href="{% url 'General_Tapishwar_Narain_Raina' %}">General TN Raina <br><font face="Arial" size="1">(01 Jun 1975 to 31 May 1978)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_12" href="{% url 'General_Om_Prakash_Malhotra' %}">General OP Malhotra <br><font face="Arial" size="1">(01 Jun 1978 to 31 May 1981)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_13" href="{% url 'General_Kotikalapudi_Venkata_Krishna_Rao' %}">General KV Krishna Rao <br><font face="Arial" size="1">(01 Jun 1981 to 31 Jul 1983)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_14" href="{% url 'General_Arunkumar_Shridhar_Vaidya' %}">General AS Vaidya <br><font face="Arial" size="1">(01 Aug 1983 31 Jan 1986)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_15" href="{% url 'General_Krishnaswami_Sundarji' %}">General K Sundarji <br><font face="Arial" size="1">(01 Feb 1986 to 31 May 1988)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_16" href="{% url 'General_Vishwa_Nath_Sharma' %}">General VN Sharma <br><font face="Arial" size="1">(30 Jun 1988 to 30 Jun 1990)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_17" href="{% url 'General_Sunith_Francis_Rodrigues' %}">General SF Rodrigues <br><font face="Arial" size="1">(01 Jul 1990 to 30 Jun 1993)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_18" href="{% url 'General_Bipin_Chandra_Joshi' %}">General BC Joshi <br><font face="Arial" size="1">(01 Jul 1993 to 19 Nov 1994)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_19" href="{% url 'General_Shankar_Roy_Chowdhury' %}">General S Roy Chowdhury <br><font face="Arial" size="1">(22 Nov 1994 to 30 Sep 1997)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_20" href="{% url 'General_Ved_Prakash_Malik' %}">General VP Malik <br><font face="Arial" size="1">(01 Oct 1997 to 30 Sep 2000)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_21" href="{% url 'General_Sundararajan_Padmanabhan' %}">General S Padmanabhan <br><font face="Arial" size="1">(01 Oct 2000 to 30 Dec 2002)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_22" href="{% url 'General_Nirmal_Chander_Vij' %}">General NC Vij <br><font face="Arial" size="1">(31 Dec 2002 to 31 Jan 2005)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_23" href="{% url 'General_Joginder_Jaswant_Singh' %}">General JJ Singh <br><font face="Arial" size="1">(01 Feb 2005 to 30 Sep 2007)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_24" href="{% url 'GENERAL_DEEPAK_KAPOOR' %}">General Deepak Kapoor <br><font face="Arial" size="1">(30 Sep 2007 to 30 Mar 2010)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_25" href="{% url 'GENERAL_VIJAY_KUMAR_SINGH' %}">General VK Singh <br><font face="Arial" size="1">(31 Mar 2010 to 31 May 2012)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_26" href="{% url 'General_Bikram_Singh' %}">General Bikram Singh <br><font face="Arial" size="1">(01 Jun 2012 to 31 Jul 2014)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_27" href="{% url 'GENERAL_DALBIR_SINGH' %}">General Dalbir Singh <br><font face="Arial" size="1">(01 Aug 2014 to 31 Dec 2016)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_28" href="{% url 'General_Bipin_Rawat' %}">General Bipin Rawat <br><font face="Arial" size="1">(31 Dec 2016 to 31 Dec 2019)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_29" href="{% url 'General_MM_Naravane' %}">General MM Naravane <br><font face="Arial" size="1">(31 Dec 2019 to 30 Apr 2022)</font></a></li><font face="Arial" size="1">
                    
                        <li>
                            <a id="ContentPlaceHolder1_UserMenuChief_rep1_hpl1_30" href="{% url 'General_Manoj_Pande' %}">General Manoj Pande</a></li>
                    
            </div>