<div class="col-sm-3">                  
                    
    <div class="popular-news">
        <div class="section-title">
            <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
                <span id="ContentPlaceHolder1_verticalmenu1_Label1">Explore Army</span></h3>
        </div>
        <!-- //section-title -->
        <div style="overflow-x:hidden; overflow-y:scroll;">
        <ul class="popular-news-list">
            
                   <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_0" href="{% url 'Inter_Services_Establishments' %}">Inter Services Establishments</a></li>
                
                   <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_1" href="{% url 'Army_Establishments' %}">Army Establishments</a></li>
                
                   <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_2" href="{% url 'Training_Team' %}">Training Team</a></li>
                
                   <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_3" href="{% url 'Rashtriya_Military_Schools' %}">Rashtriya Military Schools</a></li>
                
                   <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_4" href="{% url 'Army_Education_Project' %}">IGNOU-Army Education Project (IAEP)</a></li>
                
        </ul>
       </div>
    </div>
    <!-- //popular-news -->
    
                    </div>