<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block meta %}
        {% include 'meta.html' %}
    {% endblock %}

    {% include 'style.html' %}


    
    {% block extra_style %}
    {% endblock %}

</head>
<body class="sticky-header">

    

    {% block content %}
    {% endblock %}


    {% include 'script.html' %}


    
    {% block extra_script %}
    {% endblock %}
    
</body>
</html>