<div class="popular-news">
    <div class="section-title">
        <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
            <span id="ContentPlaceHolder1_verticalmenu_Label1">Explore Army</span></h3>
    </div>
    <!-- //section-title -->
    <div style="overflow-x:hidden; overflow-y:scroll;">
    <ul class="popular-news-list">
        
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_0" href="{% url 'history' %}">Inauguration</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_1" href="{% url 'Begining_to_Independence' %}">Begining to Independence</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_2" href="{% url 'Independence_to_Silver_Jubilee' %}">Independence to Silver Jubilee</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_3" href="{% url 'Silver_to_Golden_Jubilee' %}">Silver to Golden Jubilee</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_4" href="{% url 'Diamond_to_Platinum_Jubilee' %}">Diamond to Platinum Jubilee</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu_rep1_hpl1_5" href="{% url 'Platinum_Jubilee_and_Thereafter' %}">Platinum Jubilee and Thereafter</a></li>
            
    </ul>
   </div>
</div>