<div class="col-sm-3">
                    
    <div class="popular-news">
    <div class="section-title">
        <h3><span class="cat-icon"><i class="fa fa-bars"></i></span>
            <span id="ContentPlaceHolder1_verticalmenu1_Label1">Explore Army</span></h3>
    </div>
    <!-- //section-title -->
    <div style="overflow-x:hidden; overflow-y:scroll;">
    <ul class="popular-news-list">
        
               <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_0" href="{% url 'Training_Establishment' %}">Training Establishment</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_1" href="{% url 'Explore_Army' %}">Sports and Achievements</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_2" href="{% url 'Adventure_Activities' %}">Adventure Activities</a></li>
            
               <li><a id="ContentPlaceHolder1_verticalmenu1_rep1_hpl1_3" href="{% url 'War_Memorials' %}">War Memorials</a></li>
            
    </ul>
    </div>
    </div>
    <!-- //popular-news -->
    
                    </div>